---
layout: index
---

{% for post in site.posts limit: site.post_limit %}
    {% if post.title != 'index'%}
        <section>
            <h2 class="h2"><a data-pjax href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
            <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 180 }}</p>
        </section>
    {% endif %}
{% endfor %}
