<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <!-- <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div> -->

      <div class="footer-col footer-col-3">
        <p>本网站由<a href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral"><img style="margin-top: -2px;height: 30px;" src="/又拍云_logo2.png" alt="又拍云logo" ></a>提供CDN加速/云存储服务</p>
      </div>
    </div>

  </div>

  <script src="/translate.js"></script>
  <script>
    translate.language.setLocal('chinese_simplified'); //设置本地语种（当前网页的语种）。如果不设置，默认自动识别当前网页显示文字的语种。 可填写如 'english'、'chinese_simplified' 等，具体参见文档下方关于此的说明。
    translate.service.use('client.edge'); //设置机器翻译服务通道，直接客户端本身，不依赖服务端 。相关说明参考 http://translate.zvo.cn/43086.html
    translate.execute();//进行翻译 
  </script>

  <style>
  .translateSelectLanguage{
      position: absolute;
      top:100px;
      right:100px;
  }
  </style>

</footer>
