<div class="cb-search-tool" style="position: fixed; top: 0px ; bottom: 0px; left: 0px; right:  0px;
      opacity: 0.95; background-color: #111111; z-index: 9999; display: none;">
    <input type="text" class="form-control cb-search-content" id="cb-search-content" style="position: fixed; top: 60px"
        placeholder="文章标题">

    <div style="position: fixed; top: 16px; right: 16px;">
        <img src="/search/img/cb-close.png" id="cb-close-btn" />
    </div>
</div>

<div style="position: fixed; right: 16px; bottom: 20px;">
    <img src="/search/img/cb-search.png" id="cb-search-btn" title="双击ctrl试一下" />
</div>

<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/highlight.pack.js"></script>
<script src="/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="{{ "/search/css/cb-search.css" | prepend: site.baseurl }}">

<script src="{{ "/search/js/bootstrap3-typeahead.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/search/js/cb-search.js" | prepend: site.baseurl }}"></script>


<script>hljs.initHighlightingOnLoad();</script>

<!--神兽出没-->
<script>
    console.log('━━━━━━神兽出没━━━━━━\n 　　　┏┓　　　┏┓\n 　　┏┛┻━━━┛┻┓\n 　　┃　　　　　　　┃\n 　　┃　　　━　　　┃\n 　　┃　┳┛　┗┳　┃\n 　　┃　　　　　　　┃\n 　　┃　　　┻　　　┃\n 　　┃　　　　　　　┃\n 　　┗━┓　　　┏━┛Code is far away from bug with the animal protecting\n 　　　　┃　　　┃    神兽保佑,代码无bug\n 　　　　┃　　　┃\n 　　　　┃　　　┗━━━┓\n 　　　　┃　　　　　　　┣┓\n 　　　　┃　　　　　　　┏┛\n 　　　　┗┓┓┏━┳┓┏┛\n 　　　　　┃┫┫　┃┫┫\n 　　　　　┗┻┛　┗┻┛');
</script>
<!--神兽出没-->

<script>
    // 检测浏览器是否支持SW
    if (navigator.serviceWorker != null) {
        navigator.serviceWorker.register('/sw.js')
            .then(function (registartion) {
                console.log('支持sw:', registartion.scope)
            })
    }
</script>


{{ site.Analytics }}