<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta charset="UTF-8">
<meta content="width=device-width,minimum-scale=1.0" name="viewport">
<meta name="theme-color" content="#385958">
<meta name="keywords" content="{{ site.keywords }}" />
<meta name="description" content="{{ site.description }}" />
<meta name="author" content="{{ site.author }}">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/github-gist.css">
<link rel="manifest" href="/manifest.json">