<ul id="nav">
    <li>
        <a data-pjax class="children" href="/">首页</a>
    </li>
    {% for category in site.categories %}
    <li class="parents" >
        <a id="{{ category | first }}-ref" onclick="hidden_submenu(this)" style="cursor:pointer; ">{{ category | first }}
        <img src="/img/down.png" style="float:right" width="11" height="11" alt="展开菜单" />
        </a>
        
        <ul style="display: none;">

        {% for tag in site.tags %}
            {% assign isposts=0 %}
            {% for post  in tag[1] %}
            {% if post.categories[0]==category[0] %}
            {% assign isposts=1 %}
            {% endif %}
            {% endfor %}
        
        {% if isposts==1 %}
        <li class="parents" >
        <a id="{{ tag | first }}-ref" onclick="hidden_submenu(this)" style="cursor:pointer; ">{{ tag | first }}
        <img src="/img/down.png" style="float:right" width="11" height="11" alt="展开菜单" />
        </a>
        <ul style="display: none;">
            
            {% for post  in tag[1] %}
            
            {% if post.categories[0]==category[0] %}
            <li>
                <a data-pjax class="children" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}
                <img src="/img/right.png" style="float:right" width="11" height="11" alt="打开页面" />
                </a>
            </li>
            {% endif %}
            {% endfor %}
        
            </ul>
        </li>
        {% endif %}
        {% endfor %}
        
            {% for post  in category[1] %}
            
            {% if post.tags[0]==NULL %}
            <li>
                <a data-pjax class="children" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}
                <img src="/img/right.png" style="float:right" width="11" height="11" alt="打开页面" />
                </a>
            </li>
            {% endif %}
            {% endfor %}

        </ul>
    </li>
    {% endfor %}
    <li>
        <a data-pjax class="children" href="/photos/">相册</a>
    </li>
    <li>
        <a data-pjax class="children" href="/friendship.html">友情链接</a>
    </li>
</ul>
