body{
    font:{
        family: $roboto;
        weight: $light;
        size: 22px;
    }
    line-height: 1.4;
    background: $white;
    color: $black;
}

.container{
    max-width: 100%;
    position: relative;
    margin: 0 auto;
}

.overview{
    width: 320px;
    font-size: 18px;
}

.content{
    counter-reset: h1-counter;
    width: calc(100% - 320px);
    position: absolute;
    right: 0;
    
    @media screen and (max-width: $sidebar-collapse){
        width: 100%;
    }
}

.toggle2{
        position: fixed;
        top: 5px;
        left: 5px;
        z-index:10;
        @media screen and (min-width: $sidebar-collapse + 1){
        display: none;
    }
    }

section{

    &:last-of-type{
        padding-bottom: 15px;
    }
    > table,
    > blockquote,
    > p,
    > ul,
    > ol,
    > div{
        text-align: justify;
        padding-left: 5%;
        padding-right: 5%;
        box-sizing: border-box;
        word-wrap: break-word;
    }

    pre {
        margin-left: 5%;
        margin-right: 5%;
    }
    > ol{
        padding-left: calc(5% + 40px);
    }
}

h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
    font-weight: $bold;
    line-height: 1;
    color: $green;
    word-wrap: break-word;
}

h1 {
    font-size: 3.1em;
    padding: 30px 0 9px 0;
    text-align: right;
    border-bottom: $green 9px solid;
    width: 100%;
    margin: 0 0 20px;
}

.h1{
    counter-increment: h1-counter;
    counter-reset: h2-counter;
    padding-top: 80px;
}

h2 {
    font-size: 2em;
    padding: 30px 0 5px 0;
    width: 90%;
    text-align: center;
    border-bottom: 5px solid $green;
    margin: 0 auto 20px;
}

.h2{
    counter-increment: h2-counter;
    counter-reset: h3-counter;
    padding-top: 60px;
}


h3{
    font-size: 1.7em;
    padding: 20px 0 4px 0;
    width: 90%;
    text-align: left;
    border-bottom: 4px solid $green;
    margin: 0 auto 20px;
}

.h3{
    counter-increment: h3-counter;
    counter-reset: h4-counter;
    padding-top: 40px;
}

h4{
    font-size: 1.5em;
    padding: 18px 0 3px 0;
    width: 90%;
    text-align: left;
    border-bottom: 3px solid $green;
    margin: 0 auto 18px;
}

.h4{
    counter-increment: h4-counter;
    counter-reset: h5-counter 1;
    padding-top: 30px;
}


h5{
    font-size: 1.3em;
    padding: 40px 0 2px 0;
    width: 90%;
    text-align: left;
    border-bottom: 2px solid $green;
    margin: 0 auto 15px;
}


a{
    color: $green;
    text-decoration: none;

    .content &{
        padding: 0px 2px;
        color: blue;
    }

    .h2 &{
        color: $green;
    }

    &:hover{
        color: $darkgreen;
    }
}

code{
    font-family: 'Source Code Pro', 'Courier New', monospace;
}

.video_container{
    margin: 30px auto;
    @include paddinghack(90%, 894, 510);

    iframe{
        @extend %paddinghack;
    }
}

#intro{
    padding-top: 20px;
}

code,
pre{
    white-space: pre-wrap;
    border-radius: 0px;
    border: 0;
}

iframe{
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    width: 100%;
}

p + p{
    margin-top: 20px;
}

img{
    max-width: 100%;
}


.overview::-webkit-scrollbar {
    width: 0px;     
    height: 4px;
}

.overview::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.2);
    background: $green;
}

.overview::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.2);
    border-radius: 0;
    background: $green;
}