.toggle{
    &:hover{
        cursor: pointer;
        opacity: .8;
    }
    
    @media screen and (min-width: $sidebar-collapse + 1){
        display: none;
    }
}

// Overview
.overview {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    overflow-y: auto;
    transition: .3s all;
    background: $white;
    border-right: 3px solid $green;
    
    @media screen and (max-width: $sidebar-collapse){
        left: -320px;
        transition: .3s all ease;
        transform: translate(0, 0);
        z-index: 100;
        
        &.open{
            transform: translate(320px, 0);
        }
    }
    
    .toggle{
        position: fixed;
        top: 5px;
        right: 5px;
        z-index: 100;
    }
    ul {
        list-style: none;
        counter-reset: nested-counter;
        padding-left: 0;
        li {
            counter-increment: nested-counter;
            font-size: 98%;
        }
    }
    #nav {
        width: 100%;
        box-sizing: border-box;
        > li {
            border-bottom: 1px solid rgba($green, .3);
            a {
                display: block;
                padding: 10px 20px;
                line-height: 1;
                border-bottom: 1px solid rgba($green, .2);
                &:hover {
                    background: rgba($green, .1);
                }
            }
            li {
                a {
                    padding: 8px 30px;
                }
                li {
                    a {
                        padding: 6px 40px;
                    }
                    li {
                        a {
                            padding: 4px 50px;
                        }
                    }
                }
            }
        }
    }
}


.current {
    > a {
        font-weight: $bold;
    }
}

