$olivegray: #999988;
$palepink: #e3d2d2;
$darkred: #a61717;
$medgray: #999;

.highlight{

    pre,
    .hll {
        @extend pre;
    }

    .c,
    .cm,
    .c1 {
        color: $olivegray;
    }

    .err,
    .gr,
    .gt {
        color: $darkred;
    }

    .k,
    .o,
    .cp,
    .cs,
    .gs,
    .kc,
    .kd,
    .kn,
    .kp,
    .kr,
    .gu,
    .ne,
    .nf,
    .ow {
        font-weight: bold;
    }

    .cp,
    .cs,
    .gh {
        color: $medgray;
    }

    .gd,
    .gd .x,
    .gi,
    .gi .x {
        color: black;
    }

    .gd{
        background-color: $palepink;
    }

    .gd .x {
        background-color: #ffaaaa;
    }

    .gi {
        background-color: #ddffdd;

        .x{
            background-color: #aaffaa;
        }
    }

    .go {
        color: #888;
    }

    .gp {
        color: #555;
    }

    .gu {
        color: #800080;
    }

    .kt {
        color: #445588;
        font-weight: bold;
    }

    .m {
        color: #009999;
    }

    .s {
        color: $green;
    }

    .n {
        color: #333;
    }

    .na {
        color: teal;
    }

    .nb {
        color: #0086b3;
    }

    .nc {
        color: #445588;
        font-weight: bold;
    }

    .no {
        color: teal;
    }

    .ni {
        color: purple;
    }

    .ne {
        color: #990000;
    }

    .nf {
        color: #990000;
    }

    .nn {
        color: #555555;
    }

    .nt {
        color: navy;
    }

    .nv {
        color: teal;
    }

    .w {
        color: #bbbbbb;
    }

    .mf {
        color: #009999;
    }

    .mh {
        color: #009999;
    }

    .mi {
        color: #009999;
    }

    .mo {
        color: #009999;
    }

    .sb {
        color: #dd1144;
    }

    .sc {
        color: #dd1144;
    }

    .sd {
        color: #dd1144;
    }

    .s2 {
        color: $green;
    }

    .se {
        color: #dd1144;
    }

    .sh {
        color: #dd1144;
    }

    .si {
        color: #dd1144;
    }

    .sx {
        color: #dd1144;
    }

    .sr {
        color: #009926;
    }

    .s1 {
        color: #dd1144;
    }

    .ss {
        color: #990073;
    }

    .bp {
        color: $medgray;
    }

    .vc {
        color: teal;
    }

    .vg {
        color: teal;
    }

    .vi {
        color: teal;
    }

    .il {
        color: #009999;
    }

    .gc {
        color: #999;
        background-color: #EAF2F5;
    }
}
