---
layout: page
---
<style TYPE="text/css">
    .gallery-wrapper {
        width: 49%;
        text-align: center;
        padding-top: 1em;
        display: inline-block;

    }

    @media screen and (max-width: 700px) {
        .gallery-wrapper {
            width: 100%;
        }
    }

    .gallery-best-image {
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
</style>
{% for gallery in page.galleries %}
<div class="gallery-wrapper">
    <a href="{{ gallery['gallery'] }}/">
        <div class="gallery-best-image"
            style="background-image: url({{ gallery['gallery'] }}/thumbs/{{ gallery['best_image'] }});"></div>
    </a>
    <h3><a href="{{ gallery['gallery'] }}/">{{ gallery["name"] }}</a></h3>
    {{ gallery["images"] | size }} image{% if gallery["images"].size != 1 %}s{% endif %}
</div>
{% endfor %}