---
layout: page
---
<style TYPE="text/css">
    .gallery-image-wrapper {
        width: 49%;
        text-align: center;
        padding-top: 1em;
        display: inline-block;
    }

    @media screen and (max-width: 700px) {
        .gallery-image-wrapper {
            width: 100%;
        }
    }

    .gallery-image {
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
</style>
{% for image in page.images %}
<div class="gallery-image-wrapper">
    <a href="{{ image.name }}" {% if site.gallery.lightbox %} rel="lightbox[{{ page.gallery }}]" {% endif %}>
        <div class="gallery-image" style="background-image: url(thumbs/{{ image.name }});"></div>
    </a>
</div>
{% endfor %}