<!DOCTYPE html>
<!--<html lang="zh-CN" style="filter: grayscale(100%);">-->
<html lang="zh-CN">

<head>
    {% include head.html %}
</head>

<body>
    <div class="container">
        <div class="overview">
            <span class="toggle"><img src="/img/close.png" width="44" height="44" alt="关闭菜单" /></span>
            {% include header.html %}
            {% include nav.html %}
        </div>
        <span class="toggle2"><img src="/img/menu.png" width="44" height="44" alt="打开菜单" /></span>

        <div class="content">

            {{ content }}

            <section style="margin-top: 20px;">
                <p style="text-align: center;margin-top:0px;">© 2016-2020 jermey.cn 版权所有</p>
                <p style="text-align: center;margin-top:0px;">
                    <a target="_blank" href="http://beian.miit.gov.cn/state/outPortal/loginPortal.action"
                        style="color: #121212;">
                        渝ICP备15000929号-3
                    </a>
                </p>
                <p style="text-align: center;margin-top:0px;">
                    <a target="_blank"
                        href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=50011602500272"
                        style="color: #121212;">
                        <img src="/img/gonganbeian.png">
                        渝公网安备 50011602500272号
                    </a>
                </p>
            </section>
        </div>
    </div>

    {% include footer.html %}

</body>

</html>