---
layout: index
---
<section>
<h2 class="h2" >{{ page.title }}</h2>
{{ content }}
</section>

<script type="text/javascript">
        (function() {
            var s = "_" + Math.random().toString(36).slice(2);
            document.write('<div style="" id="' + s + '"></div>');
            (window.slotbydup = window.slotbydup || []).push({
                id: "u5107797",
                container: s
            });
        })();
</script>
<!-- 多条广告如下脚本只需引入一次 -->
<script type="text/javascript" src="//cpro.baidustatic.com/cpro/ui/cm.js" async="async" defer="defer" >
</script>
   
<section>
<div id="container"></div>
<link rel="stylesheet" href="https://www.jermey.cn/gitment/style/default.css">
<script src="https://www.jermey.cn/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  id: location.pathname, // 可选。默认为 location.href
  owner: '{{ site.owner }}',
  repo: '{{ site.repo }}',
  oauth: {
    client_id: '{{ site.client_id }}',
    client_secret: '{{ site.client_secret }}',
  },
})
gitment.render('container')
</script>
</section>
